@model Project1.Web.Models.RestaurantWeb

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RestaurantWeb</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Html.BeginForm())
    {
        @Html.LabelFor(Model => Model.Id);
        @Html.EditorFor(Model => Model.Id);
        <br />

        @Html.LabelFor(Model => Model.Name);
        @Html.EditorFor(Model => Model.Name);
        <br />

        @Html.LabelFor(Model => Model.Address);
        @Html.EditorFor(Model => Model.Address);
        <br />

        @Html.LabelFor(Model => Model.PhoneNum);
        @Html.EditorFor(Model => Model.PhoneNum);
        <br />

        <input type="submit" value="Add Restaurant" />
    }
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
