@model ClassLibraryProject0.Restaurant

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>


    <h5>Reviews</h5>
    <hr />
    @foreach (var item in Model.GetReviews())
    {
        <div>
            <dl class="dl-horizontal">
                <dt>ID: </dt>
                <dd>@item.Id</dd>
                <dt>Name: </dt>
                <dd>@item.name</dd>
                <dt>Rating: </dt>
                <dd>@item.rating</dd>
                <dt>Comment: </dt>
                <dd>@item.comment</dd>
                <dt>Date: </dt>
                <dd>@item.dateTime</dd>
            </dl>
        </div>
    }

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
